body{
	background-color: blue;
	background-image: url("2.jpg");
	background-size: cover;
}
div{
	position: relative;
}
img{
	height: 100px;
	width: 100px;
	display: block;
	margin: auto;
	border-radius: 50%;
}
p{
	text-align: center;
}
#container{
	background-color: white;
	opacity: 60%;
	height: 500px;
	width: 500px;

	margin: auto;
	top:100px;

	border-radius: 50px;
}
#title p{
	font-size: 40px;
	font-weight: bold;
	font-family: "宋体";
}